<% content_for :meta do-%>
<% end  %>
<% content_for :js do-%>
  <script type="text/javascript">

  function update_counts() {
    $.getJSON('/home/counts', function(data) {
      for (var key in data) {
        if (data.hasOwnProperty(key)) {
          if(data[key] != null) {
            var id = '#' + key + '_d';
            cont = $(id).html();
            if(cont != data[key]) { 
              $(id).animate({color: '#D9D919'})
              $(id).html(data[key]);
              $(id).animate({color: '#FFFFFF'})
            }
          }
        }
      }
    });
  }
  /* used to have onlcick handler that would do this routine */
  /* but now the link does it */
  function track_download(obj) {
      //var t_id = id.split('_');
      var t_id = $(obj).attr('id').split('_');
      $.getJSON('/home/downloaded/' + t_id[0], function(data) {
        id = '#' + t_id[0] + "_d"
        $(id).animate({color: '#76EE00'})
        $(id).html(data.downloads);
        $(id).animate({color: '#FFFFFF'})
      });
  }
  function do_message(btn) {
    var message = $('#message_us_form').serializeArray();
    $.post($('#message_us_form').attr('action'), message, function(data){ 
      var msg = '<div style="padding-top: 25px;">' + data + '</div>';
      $('#message_us_inputs').html(msg);
      $('#message_us_header').hide();
      $('.msgbox').center();
      $("#message_us_fuzz").fadeOut(3000);  
    });
    return false;
  }
  function do_notify(btn) {
    var message = $('#notified_form').serializeArray();
    $.post($('#notified_form').attr('action'), message, function(data){ 
      var msg = '<div style="padding-top: 25px;">' + data + '</div>';
      $('#notified_inputs').html(msg);
      $('#notified_header').hide();
      $('#notified_cont').center();
      $("#notified_fuzz").fadeOut(3000);  
    });
    return false;
  }
  $(document).ready(function(){ 
      window.fbAsyncInit = function() {
        FB.init({appId: '113311612077067', status: true, cookie: true,
                 xfbml: true});
      };
      (function() {
        var e = document.createElement('script');
        e.type = 'text/javascript';
        e.src = document.location.protocol +
          '//connect.facebook.net/en_US/all.js';
        e.async = true;
        document.getElementById('fb-root').appendChild(e);
      }());

    $("#about_us_link").click(function(){  
      $("#about_us_fuzz").css("height", $(document).height()); 
      $("#about_us_fuzz").fadeIn();  
      $('#about_us_cont').center();
      return false;  
    });
    $("#notified_link").click(function(){  
      $("#notified_fuzz").css("height", $(document).height()); 
      $("#notified_fuzz").fadeIn();  
      $('#notified_cont').center();
      return false;  
    });
    /******************/
    /* for contact us */
    $("#message_us_link").click(function(){  
      $("#message_us_fuzz").css("height", $(document).height()); 
      $("#message_us_fuzz").fadeIn();  
      $('#message_us_cont').center();
      return false;  
    });  
    $("#notified_close").click(function(){  
      $("#notified_fuzz").fadeOut();  
      return false;  
    }); 
    $("#message_us_close").click(function(){  
      $("#message_us_fuzz").fadeOut();  
      return false;  
    }); 
    $("#about_us_close").click(function(){  
      $("#about_us_fuzz").fadeOut();  
      return false;  
    }); 
    $(window).resize(function() {
      $('#message_us_cont').center();
      $('#notified_cont').center();
      $('#about_us_cont').center();
    });
    $(window).scroll(function() {
      $('#message_us_cont').center();
      $('#notified_cont').center();
      $('#about_us_cont').center();
    });

    $('#container').corners();
    $('.rounded').corners();
    $('.rounded_submit').corners();
    /*$('.full').click( function(event) { 
      $.getJSON('/home/downloaded/' + event.target.id, function(data) {
        update_counts();
      });
    }); */
    /* for contact us */
    /******************/

    var timer = setInterval("update_counts()",9000);

  });
  </script>
<% end %>

<div id="page">
  <div id="header_top">
    <div id="band_name" class="gemstone">
      BUMPTIOUS
    </div>
    <div id="album_name" class="cornerstone">
      REMIX ELIXIRS
    </div>
    <div id="feat_name" class="agency">
      Feat. Albyn J.
    </div>
  </div>
  <div id="albums_container">
    <div class="page_album" id="dplayer">
      <object type="application/x-shockwave-flash" data="/swf/dewplayer-playlist.swf" width="240" height="200" id="dewplayer" name="dewplayer">
      <param name="wmode" value="transparent" />
      <param name="movie" value="/swf/dewplayer-playlist.swf" />
      <param name="flashvars" value="showtime=true&autoreplay=true&xml=playlist.xml" />
      </object>
    </div>
    <div class="page_album album_download">
      <a href="<%= album_path(@album) + '_m4a.zip' %>" id="all_aac" class="full"><img src="/images/lossless_album.png"></a>
      <div class="sizer agency">398 MB</div>
    </div>
    <div class="page_album album_download">
      <a href="<%= album_path(@album) + '_mp3.zip' %>" id="all_mp3" class="full"><img src="/images/mp3_album.png"></a>
      <div class="sizer agency">80 MB</div>
    </div>
  </div>
  <div class="clear">
  </div>
  <div id="head_seperator">
  </div>
  <div id="headers" class="cornerstone">
    <div class="header" id="header_tnum">
      Track
    </div>
    <div class="header" id="header_ttitle">
      &nbsp;
    </div>
    <div class="header" id="header_ndown">
      Real Time DL Count
    </div>
    <div class="header" id="header_types">
    </div>
  </div>
  <div class="clear"></div>
  <div id="track_seperator">
  </div>
  <div id="content_info">
    <% @tracks.each do |track| %>
      <div class="track">
        <div class="tinfo track_number" class="gemstone">
        <%= track.track_number.to_s %>.
        </div>
        <div class="tinfo track_name">
          <a id="<%= track.id.to_s %>_l" href="<%= album_track_path(@album, track) + '.mp3' %>" class="gemstone"><%= track.name.upcase %></a>
        </div>
        <div id="<%= track.id.to_s %>_d" class="tinfo downloads gemstone">
                <%= number_with_delimiter(track.download_count) %> 
        </div>
        <div class="tinfo track_link gemstone">
          <a class="download link" id="<%= track.id.to_s %>_l" href="<%= album_track_path(@album, track) + '.mp3' %>">mp3</a>&nbsp;
          <a class="download link purple" id="<%= track.id.to_s %>_u" href="<%= album_track_path(@album, track) + '.m4a' %>">m4a</a>
        </div>
      </div>
      <div class="clear"></div>
    <% end %>
  </div>
  <div id="fb_comments_container">
    <div id="fb-root"></div>
    <script src="http://connect.facebook.net/en_US/all.js#appId=113311612077067&amp;xfbml=1">
    </script>
    <fb:comments xid="album_<%= @album.id %>" numposts="10" width="725" publish_feed="true">
    </fb:comments>
  </div>
  <div id="page_footer">
    <div class="footer_link">
      <a id="notified_link" href="" class="premi" >get notified</a>  
    </div>  
    <div class="footer_link">  
      <a id="message_us_link" href="#" class="premi">message us</a>  
    </div>  
    <div class="footer_link">  
      <a id="about_us_link" href="#" class="premi">about us</a>  
    </div>  
  </div>
</div>

<div id="message_us_fuzz" class="fuzz">  
  <div id="message_us_cont" style="background-color:#d20ad0; padding:5px" class="msgbox rounded">
    <div style="background-color:#272727; padding:1px" class="rounded gemstone">
      <a id="message_us_close" class="close" href="" >close</a>  
      <span id="message_us_header">Send us a quick message</span>
      <div id="message_us_inputs" class="msgbox_content">
        <br/>
        <br/>
        <%= form_for :message, :html => { :id => 'message_us_form' }, :url => '/home/message_us' do |f| %>
          Your email (optional): <br/> 
          <%= f.text_field 'email', :class =>  'message_us_inputs' %>
          <br/>
          <br/>
          Your message for us: <br/>
          <%= f.text_area 'message', :class => 'message_us_inputs' %><br/>
          <br/>
          <%= f.submit 'Message', :value => 'Send', :id => 'message_us_btn', :onclick => 'do_message(this);', :class => 'message_us_submit rounded_submit' %>
        <% end %>
      </div>
    </div>
  </div>
</div>  

<div id="notified_fuzz" class="fuzz">  
  <div id="notified_cont" style="background-color:#d20ad0; padding:5px" class="msgbox rounded">
    <div style="background-color:#272727; padding:1px" class="rounded gemstone">
      <a id="notified_close" class="close" href="" >close</a>  
      <div id="notified_header">Get notified about concerts and new albums</div>
      <div id="notified_inputs" class="msgbox_content">
        <br/>
        <br/>
        <%= form_for :notified, :html => { :id => 'notified_form' }, :url => '/home/notified' do |f| %>
          Your email: <br/> 
          <%= f.text_field 'email', :class =>  'message_us_inputs' %><br/>
          <br/>
          <%= f.submit 'Message', :value => 'Send', :id => 'notified_btn', :onclick => 'do_notify(this);', :class => 'message_us_submit rounded_submit' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div id="about_us_fuzz" class="fuzz">  
  <div id="about_us_cont" style="background-color:#d20ad0; padding:5px" class="msgbox rounded">
    <div style="background-color:#272727; padding:1px" class="rounded gemstone">
      <a id="about_us_close" class="close" href="" >close</a>  
      <div id="about_header">Please enjoy responsibly. This music should be enjoyed in moderation,  and good judgement, just like alcohol.</div>
      <div id="about_inputs" class="msgbox_content">
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  //sIFR.replace(cochin, { selector:".name", css: ['.sIFR-root { cursor:pointer; background-color: #000000; color: #FFFFFF; }'], selectable: true  });
  //sIFR.replace(rockwell, { selector:".sifr_gothic", css: ['.sIFR-root { cursor:pointer; background-color: #000000; color: #FFFFFF; }'], selectable: true});
</script>
