<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>bumptious remix elixirs</title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta name="title" content="bumptious - remix elixirs" />
    <meta name="description" content="sweet delicious beats" />
    <meta name="keywords" content="the best freshest hip hop music ever remixes remix bumptious elixirs mp3 m4u aac djs" />
    <!-- facebook page stuff -->
    <meta property="og:title" content="Bumptious - Remix Elixirs"/>
    <meta property="og:type" content="album"/>
    <meta property="og:image" content="http://bumptiousmusic.com/images/website.jpg"/>
    <meta property="og:url" content="http://bumptiousmusic.com/"/>
    <meta property="og:site_name" content="BumptiousMusic.com"/>
    <meta property="fb:admins" content="3614966"/> 
    <meta property="og:description" content="sweet delicious beats - get the album for free because we love you"/>
    <meta property="og:audio" content="http://bumptiousmusic.com/music/ruff_ryders.mp3"/>
    <meta property="og:audio:title" content="The Ruff Ryders - Ride or die (2nd track off the album)" />
    <meta property="og:audio:artist" content="Bumptious" />
    <meta property="og:audio:album" content="Remix Elixirs" />
    <meta property="og:audio:type" content="application/mp3" />

    <%= stylesheet_link_tag 'fonts', 'all-pages' %>
    <!-- <%= stylesheet_link_tag 'sifr' %> -->
    <script type="text/javascript">
        var detect = navigator.userAgent.toLowerCase();
        if (checkIt('safari')){
            if(! checkIt('chrome')) {
              document.write('<link rel="stylesheet" media="screen and min-device-pixel-ratio: 0" href="/stylesheets/safari3.css"/>');
            }
        }
        function checkIt(string){
            var place = detect.indexOf(string) + 1;
            return place;
        }
    </script>
    <%= yield :css %>

    <link rel="SHORTCUT ICON" HREF="/images/favicon.ico"> 


    <%= javascript_include_tag "jquery-1.4.4.min.js", "jquery.animate-colors-min.js", 'jquery.corners.min.js', 'jquery.utils.js' %>
    <!-- #, 'sifr.js', 'sifr-config.js'  -->


    <%= yield :js %>

    <% if Rails.env == 'production' %>
      <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-21518750-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

      </script>
    <% end %>
  </head>
  <body>
    <div id="container">
      <%= yield %>
    </div>
  </body>
</html>
